@page "/carousel";
@using Data;
@using Newtonsoft.Json; 
<h3>Carousel</h3>

<div class="carousel">
    @foreach (var card in cards.Skip((currentSlide - 1) * 4).Take(4))
    {
        <div class="card">
            <img src="@card.Img_url" alt="@card.Title" />
            <div class="card-body">
                <h4 class="card-title">@card.Title</h4>
                <p class="card-price">@card.Price</p>
                <p class="card-jmfrpris">Kr/kg: @card.JmfrPris</p>
                <p class="card-country">@card.CountryOfOrigin</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    }

    <button @onclick="NextSlide">next</button>
    <button @onclick="PreviousSlide">prev</button>
</div>

@code {

        private List<Card> cards = new List<Card>();

        private async Task GetApiInfo()
        {
            var client = new HttpClient();
            var response = await client.GetAsync("http://localhost:5000/api/groceries");
            var cardsJson = await response.Content.ReadAsStringAsync();
            cards = JsonConvert.DeserializeObject<List<Card>>(cardsJson);
        }


    @* protected override async Task onInitializedAsync() *@
      protected override async Task OnInitializedAsync()
    {
        await GetApiInfo();
    }

    private int currentSlide = 1;

    private void PreviousSlide()
    {
        if (currentSlide == 1)
        {
            currentSlide = cards.Count / 4;
        }
        else
        {
            currentSlide--;
        }
    }

    private void NextSlide()
    {
        if(currentSlide == cards.Count / 4)
        {
            currentSlide = 1;
        }
        else
        {
            currentSlide++;
        }
    }
    }
