<h3>Carousel</h3>

<div class="carousel">
    @foreach (var card in cards.Skip((currentSlide - 1) * 4).Take(4))
    {
        <div class="card">
            <img src="@card.ImageUrl" alt="@card.Title" />
            <div class="card-body">
                <h4 class="card-title">@card.Title</h4>
                <p class="card-price">@card.Price</p>
                <p class="card-jmfrpris">Kr/kg: @card.JmfrPris</p>
                <p class="card-country">@card.CountryOfOrigin</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    }

    <button @onclick="NextSlide">></button>>
    <button @onclick="PreviousSlide"><</button>
</div>

@code {

        private async Task GetApiInfo()
        {
            var client = new HttpClient();
            var response = await client.GetAsync("https://localhost:44394/api/Products");
            var cadsJson = await response.Content.ReadAsStringAsync();
            card = JsonConvert.DeserializeObject<List<Card>>(cadsJson);
        }

    protected override async Task onInitializedAsync()
    {
        await GetApiInfo();
    }

    private int currentSlide = 1;

    private void PreviousSlide()
    {
        if (currentSlide == 1)
        {
            currentSlide = cards.Count / 4;
        }
        else
        {
            currentSlide--;
        }
    }

    private void NextSlide()
    {
        if(currentSlide == cards.Count / 4)
        {
            currentSlide = 1;
        }
        else
        {
            currentSlide++;
        }
    }
    }