<div class="card">
    <div class="imgcontainer">
        <img src="@card.Img_url" alt="@card.Title" class="product_Img" />
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 titleContainer">
                <h6 class="card-title">@card.Title</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12 prodPriceContainer">
                <p class="card-price">@card.Price @ValidatePrice()</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 jmfrPriceContainer">
                <p class="card-jmfrpris">Jmfrpris/kg: @card.JmfrPris</p>
            </div>
        </div>
        <div class="row">
            <div class="col-9 prodCountryContainer">
                <p class="card-country">@card.CountryOfOrigin</p>
            </div>
            <div class="col-3 btn-container">
                <a href="#" class="btn btn-primary addToCartBtn">Köp</a>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public Card card { get; set; }

    private string stPris = "kr/st";
    private string kgPris = "kr/kg";

    private string ValidatePrice()
    {
        if (card.Price < card.JmfrPris)
        {
            return stPris;
        }
        else
        {
            return kgPris;
        }
    }


}
